.loginContainer {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #09090b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* LOGO EXTERNA */
.externalLogo {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-align: center;
  
  background: linear-gradient(90deg, #8A2BE2 0%, #00BFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 15px rgba(138, 43, 226, 0.5));
}

.loginWrapper {
  position: relative;
  width: 90%;
  max-width: 650px;
  
  background: linear-gradient(90deg, #8A2BE2 0%, #00BFFF 100%);
  padding: 3px; 
  border-radius: 24px;
  box-shadow: 0 0 40px rgba(138, 43, 226, 0.2);
  display: flex; 
  box-sizing: border-box;
}

.loginCard {
  background-color: #050505;
  width: 100%; 
  flex: 1; 
  padding: 4rem 4rem;
  border-radius: 21px; 
  border: none;
  text-align: center;
}

/* Subtítulo */
.welcomeText {
  color: #a1a1aa;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
}

.toggleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  border-bottom: 2px solid #333;
  width: 100%;
}

.toggleBtn {
  flex: 1;
  background: none;
  border: none;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #71717a;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  transition: color 0.3s;
  text-align: center;
}

.toggleBtn.active { color: white; }

.toggleBtn.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #8A2BE2 0%, #00BFFF 100%);
  box-shadow: 0 -2px 10px rgba(138, 43, 226, 0.5);
}

/* INPUTS */
.inputGroup {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 12px;
  background: #121212;
  border: 1px solid #333;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s;
  box-sizing: border-box;
}

.input:focus {
  border-color: #8A2BE2;
  box-shadow: 0 0 10px rgba(138, 43, 226, 0.2);
}

/* Esqueceu a senha? */
.forgotPass {
  display: block;
  text-align: left; 
  color: #00BFFF;
  font-size: 0.9rem;
  text-decoration: none;
  margin-bottom: 1.5rem;
  margin-left: 5px;
}

.forgotPass:hover {
  text-decoration: underline;
}

/* Botão CTA */
.btnAction {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #8A2BE2 0%, #00BFFF 100%);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s;
  box-shadow: 0 4px 15px rgba(138, 43, 226, 0.4);
}

.btnAction:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}